In [79]:
import pandas as pd
import json
from tqdm.notebook import tqdm

In [ ]:
YEAR_RANGE = [2019, 2020]
df_311 = pd.read_csv('../data/raw/311_Calls_2007-2020.csv')
# df_311 = df_311[df_311['CREATION YEAR'].between(YEAR_RANGE[0], YEAR_RANGE[1])]
df_311 = df_311[df_311['CREATION YEAR'] == 2019]

In [ ]:
# sample_df = df_311.sample(n=10000, random_state=1).reset_index(drop=True).copy()
sample_df = df_311.copy()
# sample_df = sample_df[sample_df['DAYS TO CLOSE'].notna() & sample_df['STATUS'].str.contains('RESOL')].reset_index(drop=True)
sample_df = sample_df[(sample_df['STATUS'] == 'RESOL') & (sample_df['DAYS TO CLOSE'].notna())].reset_index(drop=True)
sample_df['nbh_name'] = sample_df['nbh_name'].fillna('Unnamed')

sample_df[sample_df['nbh_id'] == 0 ]

In [ ]:
df_311.columns

In [ ]:
from tqdm.notebook import tqdm
CATEGORY_MAP = {
    'City Facilities': ['City Facilities', 'City Clerks Office','City Managers Office','City Planning & Development', 'Facilities'],
    'Parking': ['Park','Park Maintenance','Parking Meter','Downtown Parking'],
    'Property Violations': ['Property / Buildings / Construction', 'Property Preservation','Property Violations', 'Graffiti', 'Property & Nuisance Violations', 'Nuisance Violations'],
    'Animals': ['Animals / Pets', 'Animal'],
    'Water': ['Water','Water Leak','Storm Water','Storm Water / Sewer','Wastewater','Water Main Break','Water Quality','Water Services','Sewer','Ditch'],
    'Trash': ['Trash / Recycling','Trash'],
    'Public Health': ['Health','Public Health','Food Protection','Air Quality','Weeds'],
    'Lights/Signals/Signs': ['Lights / Signals','Signal','Signs'],
    'Vehicles': ['Vehicle', 'Vehicles / Parking'],
    'Street/Sidewalks': ['Street', 'Street Light','Street Sign','Pothole','Sidewalk','Sidewalks / Curbs / Ditch','Streets / Roadways / Alleys','Steel Plate','Markings'],
    'Legal': ['Government','Mayors Office','Permit','Law','Municipal Court'],
    'Public Safety': ['Public Safety','Fire','Snow & Ice','Trees'],
    'Parks and Recreation': ['Parks & Recreation','Boulevard Parks and Rec'],
    'Neighborhood': ['Neighborhood & Community Services', 'Neighborhood Preservation'],
    'Data Not Available': ['Data Not Available'],
    'Information Request': ['Information Request'],
    'Maintenance': ['Maintenance','Bridge','Guard Rail','Cleaning'],
    'Traffic': ['Traffic Sign','Traffic Study'],
    'Information Technology': ['Information Technology'],
    'Noise': ['Noise Control'],
    'Other': ['Aviation','Public Works','Zoning','Right of Way','Sealing','Sweeping','Bulky Appointment',
              'Consumer Services','Convention & Entertainment Center','Finance','Housing','Mowing / Weeds','Capital Projects']
}
NEW_CATEGORIES = []
for index, row in tqdm(sample_df.iterrows(), total = sample_df.shape[0]):
  new_cat = None
  category = row['CATEGORY']
  for key, value in CATEGORY_MAP.items():
    if category in value:
      new_cat = key
      NEW_CATEGORIES.append(new_cat)
  if new_cat is None:
    print(category)
  assert new_cat is not None
  # if index == 10:
  #   break
sample_df['CATEGORY_NEW'] = NEW_CATEGORIES

In [ ]:
temp = sample_df.groupby(['nbh_name', 'CATEGORY_NEW']).size().to_frame('total_calls').sort_index(ascending=[0,1]).sort_values('total_calls',ascending=False)
top_5_calls_df = temp.groupby(level=0, as_index=False).apply(lambda x: x.head(5)).reset_index(level=0, drop=True).reset_index()

In [ ]:
temp[temp['nbh_name'] == 'Ivanhoe Northeast']

In [ ]:
df.head()

In [ ]:
import plotly.express as px
fig = px.pie(temp[temp['nbh_name'] == 'Shoal Creek'], values='total_calls', names='CATEGORY_NEW', title='Top 5 311 Calls by Neighborhood')
fig.show()

In [132]:
df_property.shape

(12103, 34)

In [134]:
# sample_df[sample_df['REQUEST TYPE'] == 'Property Violations'].shape

(17992, 34)

In [135]:
# df_property = sample_df[sample_df['CATEGORY_NEW'] == 'Property Violations']
df_property = sample_df[sample_df['REQUEST TYPE'] == 'Property Violations']

df_property

,CASE ID,SOURCE,DEPARTMENT,WORK GROUP,REQUEST TYPE,CATEGORY,TYPE,DETAIL,CREATION DATE,CREATION TIME,...,POLICE DISTRICT,PARCEL ID NO,LATITUDE,LONGITUDE,CASE URL,30-60-90 Days Open Window,nbh_id,nbh_name,BLOCKGROUP ID,CATEGORY_NEW
30,2019000495,PHONE,NHS,NHS-Neighborhood Preservation-,Property Violations,Vehicles / Parking,Parked on Unapproved Surface,Car Private Property,01/02/2019,02:55 PM,...,East,46562,39.086081,-94.491835,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,35,Blue Valley Industrial,2.909500e+11,Vehicles
32,2019204960,PHONE,NHS,NHS-Neighborhood Preservation-,Property Violations,Trash / Recycling,Nuisance,Trash on Private Property,12/17/2019,03:36 PM,...,East,41670,39.111568,-94.538269,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,18,Scarritt Point,2.909500e+11,Trash
33,2019185184,PHONE,NHS,NHS-Neighborhood Preservation-,Property Violations,Mowing / Weeds,Private / Commercial,Lot - Vacant,10/28/2019,07:58 AM,...,Central,14462,39.079394,-94.560201,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,27,Wendell Phillips,2.909502e+11,Other
34,2019185186,PHONE,NHS,NHS-Neighborhood Preservation-,Property Violations,Mowing / Weeds,Private / Commercial,Lot - Vacant,10/28/2019,08:02 AM,...,Central,14460,39.079552,-94.560192,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,27,Wendell Phillips,2.909502e+11,Other
35,2019153984,WEB,NHS,NHS-Neighborhood Preservation-,Property Violations,Property / Buildings / Construction,Property Maintenance,Graffiti,08/21/2019,04:01 PM,...,Central,124365,39.083859,-94.598175,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,9,Westside South,2.909502e+11,Property Violations
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161135,2019178352,PHONE,NHS,NHS-Neighborhood Preservation-,Property Violations,Trash / Recycling,Nuisance,Trash on Private Property,10/10/2019,02:32 PM,...,East,137353,39.043642,-94.555053,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,54,Ivanhoe Southeast,2.909501e+11,Trash
161136,2019160068,PHONE,NHS,NHS-Neighborhood Preservation-,Property Violations,Mowing / Weeds,Private / Commercial,Lot - Vacant,09/03/2019,01:48 PM,...,Central,135427,39.053873,-94.563800,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,53,Ivanhoe Southwest,2.909502e+11,Other
161137,2019160139,WEB,NHS,NHS-Neighborhood Preservation-,Property Violations,Property / Buildings / Construction,Property Maintenance,Main Structure,09/03/2019,02:58 PM,...,Central,14290,39.084196,-94.561064,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,27,Wendell Phillips,2.909502e+11,Property Violations
161138,2019165739,WEB,NHS,NHS-Neighborhood Preservation-,Property Violations,Mowing / Weeds,Private / Commercial,Lot - Structure,09/13/2019,01:18 PM,...,Central,26634,39.076811,-94.555131,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,56,Key Coalition,2.909502e+11,Other
161139,2019166256,WEB,NHS,NHS-Neighborhood Preservation-,Property Violations,Trash / Recycling,Nuisance,Trash on Private Property,09/16/2019,07:09 AM,...,Metro,113770,39.003846,-94.559103,http://city.kcmo.org/kc/ActionCenterRequest/Ca...,NaN,122,Blenheim Square Research Hospital,2.909501e+11,Trash

In [84]:
df_shape = pd.read_csv('../data/raw/240NBH_socioeconomic_withshapes.csv')
df_shape.head()

,NBH_ID,Total population,Median income,Median home value,Total population age 25+ years with a bachelor's degree or higher,White alone,Black or African American alone,Asian alone,Hispanic or Latino,Total Vacant,...,Households with income below poverty,Total population 25 or older,No schooling completed,High school diploma,Bachelor's degree,Master's degree,Doctorate degree,NBH_NAME,EQUIVALENT_BLOCKGROUPS,NBH_BOUNDARIES
0,1,1524,27778,165800,332,742,502,63,208,89,...,204,978,79,28,245,59,15,Columbus Park Industrial,['290950003001'],"[[-94.57683939536817, 39.1095113156913], [-94...."
1,2,2485,77700,252800,1501,2019,201,112,138,206,...,61,2100,0,0,1103,233,48,River Market,['290950152001'],"[[-94.57702050009627, 39.10947486858083], [-94..."
2,3,872,44740,150550,359,544,203,20,69,141,...,159,657,16,0,206,92,6,Quality Hill,"['290950011002', '290950011001']","[[-94.58859268223543, 39.096400643183834], [-9..."
3,4,1968,56325,191933,860,1226,479,105,90,101,...,112,1535,3,5,482,242,58,CBD Downtown,"['290950157002', '290950159001', '290950157001']","[[-94.57231978141229, 39.10627878158096], [-94..."
4,5,1567,26766,116108,171,405,821,143,163,83,...,180,964,49,0,108,40,7,Paseo West,"['290950154001', '290950154002', '290950159001']","[[-94.56368874393506, 39.105292460875276], [-9..."

In [89]:
temp = sample_df.merge(df_shape, how='inner', left_on='nbh_id', right_on='NBH_ID').drop(columns=['NBH_ID', 'NBH_NAME'])
temp.to_csv('311_Census_with_shapes.csv', index = False)

In [88]:
temp.columns

Index(['CASE ID', 'SOURCE', 'DEPARTMENT', 'WORK GROUP', 'REQUEST TYPE',
       'CATEGORY', 'TYPE', 'DETAIL', 'CREATION DATE', 'CREATION TIME',
       'CREATION MONTH', 'CREATION YEAR', 'STATUS', 'EXCEEDED EST TIMEFRAME',
       'CLOSED DATE', 'CLOSED MONTH', 'CLOSED YEAR', 'DAYS TO CLOSE',
       'STREET ADDRESS', 'ADDRESS WITH GEOCODE', 'ZIP CODE', 'NEIGHBORHOOD',
       'COUNTY', 'COUNCIL DISTRICT', 'POLICE DISTRICT', 'PARCEL ID NO',
       'LATITUDE', 'LONGITUDE', 'CASE URL', '30-60-90 Days Open Window',
       'nbh_id', 'nbh_name', 'BLOCKGROUP ID', 'CATEGORY_NEW',
       'Total population', 'Median income', 'Median home value',
       'Total population age 25+ years with a bachelor's degree or higher',
       'White alone', 'Black or African American alone', 'Asian alone',
       'Hispanic or Latino', 'Total Vacant', 'Total Renter Occupied',
       'Number of Households', 'Total civilian labor force', 'Total employed',
       'Total unemployed', 'Families considered in poverty calculation',
       'Individuals considered in poverty calculation',
       'Households considered in poverty calculation',
       'Families with income below poverty',
       'Individuals with income below poverty',
       'Households with income below poverty', 'Total population 25 or older',
       'No schooling completed', 'High school diploma', 'Bachelor's degree',
       'Master's degree', 'Doctorate degree', 'EQUIVALENT_BLOCKGROUPS',
       'NBH_BOUNDARIES'],
      dtype='object')

In [103]:
df_crime = pd.DataFrame()
for yr in range(2019,2020):
    df = pd.read_csv('../Crime/CrimeData{}-withlocality.csv'.format(yr))
    print(len(df))
    df_crime = pd.concat([df_crime,df ], axis = 0)

df_crime = df_crime[df_crime['nbh_name'].isin(df_shape['NBH_NAME'].unique())][['nbhid','nbh_name', 'Offense']]
df_crime = df_crime[df_crime['Offense'] == 'Property Damage']
df_crime.head()

77982

    nbhid            nbh_name          Offense
6    80.0       Southmoreland  Property Damage
22  162.0            Fairlane  Property Damage
46  213.0  Birmingham Bottoms  Property Damage
52  154.0       Hidden Valley  Property Damage
60  195.0     Colonial Square  Property Damage

In [128]:
property_violations_agg_df = df_property.groupby('nbh_name').size().sort_values(ascending=False).to_frame('property_violations_calls').head(50)
property_crime_agg_df = df_crime.groupby(['nbh_name']).size().to_frame('property_damages').reset_index()
property_crime_agg_df = property_crime_agg_df.merge(property_violations_agg_df, how='left', left_on='nbh_name', right_on='nbh_name').fillna(0).set_index('nbh_name').sort_values(['property_damages', 'property_violations_calls'], ascending=False)
property_crime_agg_df.head()

                property_damages  property_violations_calls
nbh_name
CBD Downtown                 175                       81.0
Scarritt Point                99                      159.0
Hospital Hill                 88                        0.0
Shoal Creek                   85                      290.0
Blue Hills                    71                      156.0

In [130]:
property_crime_agg_df.to_csv('property_violations_Crime311.csv', index = True)

                           property_damages  property_violations_calls
property_damages                   1.000000                   0.307881
property_violations_calls          0.307881                   1.000000

<h1> Deploy to Ngrok

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
from jupyter_dash import JupyterDash
from flask import Flask
from flask_cors import CORS

In [ ]:
app = JupyterDash(__name__)
server = app.server
CORS(server)

app.layout = html.Div([
    dcc.Location(id='url', refresh=False),
    html.Div(id='page-content')
])


index_page = html.Div([
    dcc.Link('Go to Page 1', href='/page-1'),
    html.Br(),
    # dcc.Link('Go to Page 2', href='/page-2'),
    # html.Br(),
    # dcc.Link('Go to Page 3', href='/page-3'),
    # html.Br(),
    # dcc.Link('Go to Page 4', href='/page-4'),
    # html.Br(),
    # dcc.Link('Go to Page 5', href='/page-5'),
    # html.Br(),
    # dcc.Link('Go to Page 6', href='/page-6'),
    # html.Br(),
    # dcc.Link('Go to Page 7', href='/page-7'),
    # html.Br(),
    # dcc.Link('Go to Page 8', href='/page-8'),
    # html.Br(),
    # dcc.Link('Go to Page 9', href='/page-9'),
    # html.Br(),
    # dcc.Link('Go to Page 10', href='/page-10'),
    # html.Br(),
    # dcc.Link('Go to Page 11', href='/page-11'),
    # html.Br(),
    # dcc.Link('Go to Page 12', href='/page-12'),
])

# -------------------------------------------
@app.callback(Output('graph-1', 'figure'),
              [Input('call-dropdown', 'value')])       
def page_1_content(nbh_name):
    fig = px.pie(top_5_calls_df[top_5_calls_df['nbh_name'] == nbh_name], values='total_calls', names='CATEGORY_NEW', title='Top 5 311 Calls of {} (in 2019)'.format(nbh_name.title()))
    return fig

page_1_layout = html.Div([
    html.Label([
        "Select a Neighborhood Name",
        dcc.Dropdown(
            id='call-dropdown', clearable=False,
            value='Ivanhoe Northeast', options=[
                {'label': x.title(), 'value': x}
                for x in top_5_calls_df['nbh_name'].unique()
            ])
    ]),
    dcc.Graph(id='graph-1')
], style={'width': '50%', 'display': 'inline-block', 'vertical-align': 'middle'})
# -------------------------------------------
# Update the index
@app.callback(Output('page-content', 'children'),
              [Input('url', 'pathname')])
def display_page(pathname):
    if pathname == '/page-1': #state-metal
        return page_1_layout
    # elif pathname == '/page-2': #
    #     return page_2_layout
    # elif pathname == '/page-3': #
    #     return page_3_layout
    # elif pathname == '/page-4': #
    #     return page_4_layout
    # elif pathname == '/page-5': #
    #     return page_5_layout
    # elif pathname == '/page-6': #
    #     return page_6_layout
    # elif pathname == '/page-7': #
    #     return page_7_layout
    # elif pathname == '/page-8': #
    #     return page_8_layout
    # elif pathname == '/page-9': #
    #     return page_9_layout
    # elif pathname == '/page-10': #
    #     return page_10_layout
    # elif pathname == '/page-11': #
    #     return page_11_layout
    # elif pathname == '/page-12': #
    #     return page_12_layout
    else:
        return index_page
    # You could also return a 404 "URL not found" page here





@server.route("/api/model/quick")
def inference_quick():
    height = float(request.args.get('height'))
    weight = float(request.args.get('weight'))
    age = int(request.args.get('age'))
    children = int(request.args.get('children'))
    smoker = int(request.args.get('smoker'))
    sex = int(request.args.get('sex'))
    BMI = weight / (height/100)**2
    state = request.args.get('state')
    map_sex = {
        'male': 0,
        'female': 1
    }
    map_smoker = {
        'no': 0,
        'yes': 1,
    }   
    map_region = {'northeast': 0, 'northwest': 1, 'southeast': 2, 'southwest': 3}
    region = map_region[region_map[state]]

    X_test = np.array([[age, sex, BMI, children, smoker, region]])
    test_dataset = RegressionDataset(torch.from_numpy(X_test).float())
    test_loader = DataLoader(dataset=test_dataset, batch_size=1)
    ''''Testing'''
    # X_test = np.array([[45, 1, 15, 2, 1, 3]])
    test_dataset = RegressionDataset(torch.from_numpy(X_test).float())
    test_loader = DataLoader(dataset=test_dataset, batch_size=1)
    ''''Testing'''
    with torch.no_grad():
        for X_batch in test_loader:
            X_batch = X_batch.to(device)
            x_test_pred = model_quick(X_batch)[0][0]
    estimate =  round(x_test_pred.item()*10000)
    insurance_options = {'plans': find_insurance(age = age, kid = children, state='MO', estimate = estimate)}
    insurance_options['premium_charge'] = estimate
    return json.dumps(insurance_options, indent=4)


if __name__ == '__main__':
    app.run_server(mode='inline', port = 8020, debug=True)

In [ ]:
from pyngrok import ngrok

public_url = ngrok.connect(8020, subdomain="nsfscc")
public_url

In [ ]:
ngrok.kill()